/* 
Background color: #F1F2F3
Google button color: #FFFFFF
Github button color: #2F3337 
Facebook button color: #385499
Primary color: #0074CC
Shadow for white card on the right:
box-shadow: rgba(0, 0, 0, 0.05) 0px 10px 24px 0px, rgba(0, 0, 0, 0.05) 0px 20px 48px 0px, rgba(0, 0, 0, 0.1) 0px 1px 4px 0px;
*/

* {
  box-sizing: border-box;
  margin:0;
  padding:0;
}

html {
  font-size: 14px;
}

body {
  background: #F1F2F3;
  margin:0 auto;
  font-family: Arial, sans-serif;
}

.col1 {
  width:50em;
  height: 40em;
  display:inline-flex;
  position:relative;
  flex-direction: column;
  justify-content:space-between(20em 25em);
  align-items:flex-end;

}

.col1-text {
  margin-left:5em;
  padding-right:1em;
  text-align: left;
  position: absolute;
  right: 0;
}


.text-small {
  font-size:0.8rem;
}

.text-margin-top-small {
  margin-top:1em;
}

a[href*="stack"] {
color: #0074CC;
text-decoration: none;
}


i.fa-solid{
  margin-top:1em;
  padding:0 2em 0.7em 0;
  color: #0074CC;
  font-size:1.3rem;
  background-color:#F1F2F3;
}


.col2 {
  width: 30em;
  padding: 1.5em;
  display:inline-block;
  /*flex-direction: column;
  justify-content:center;
  align-items: left;*/
}

.button-container{
  height:8em;
  width:23em;
  background-color: #F1F2F3;
  padding: 1.5em;
  position:relative;
  left:-1.5em;
  top:-2.5em;

}


.facebook {
  color:white;
  height:2.5em;
  padding:0.75em;
  margin:0.5em 0;
  border-radius: 0.3em;
  background-color:#385499;
  border-color: #385499;
  display:flex;
  flex-direction:column;
  text-align:center;
  justify-content:center;
  align-items:center;
}

.google{
  height:2.5em;
  padding:0.75em;
  margin:0.5em 0;
  border-radius: 0.3em;
  background-color: #FFFFFF;
  border-color:#FFFFFF;
  display:flex;
  flex-direction:column;
  text-align:center;
  justify-content:center;
  align-items:center;
}

.github {
  height:2.5em;
  padding:0.75em;
  margin:0.5em 0;
  border-radius: 0.3em;
  background-color:#2F3337;
  border-color: #2F3337;
  display:flex;
  flex-direction:column;
  text-align:center;
  justify-content:center;
  align-items:center;
  color:white;
}

a[href*="github"]:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a[href*="facebook"]:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a[href*="google"]:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}


.data{
  background-color: #FFFFFF;
  margin-top:1.3em;
  width:20em;
  padding:1.2em 1.3em;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 10px 24px 0px, rgba(0, 0, 0, 0.05) 0px 20px 48px 0px, rgba(0, 0, 0, 0.1) 0px 1px 4px 0px;
}

#name, #email, #pw {
  border: 0.2em solid rgb(236, 236, 236);
  border-radius:0.3em;
  width: 17em;
  padding:0.5em 0.5em;
  font-size:1rem;
}


label{
  font-weight:bold;
}

.notes{
  margin:0.6em 0;
}

.robot-container{
  width:17em;
  height:10em;
  background-color: #F1F2F3;
  display:flex;
  justify-content: center;
  align-items:center;
}

.robot{
  width:11em;
  height:8em;
  padding: 1em;
  font-size:0.85rem;
  background-color: #FFFFFF;
  display:flex;
  justify-content: center;
  align-items:center;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 10px 24px 0px, rgba(0, 0, 0, 0.05) 0px 20px 48px 0px, rgba(0, 0, 0, 0.1) 0px 1px 4px 0px;
}

div.sign-up{
  display:inline-block;
  width:17em;
  height:3em;
  text-align:center;
  background-color:#1E90FF;
  border-radius: 0.3em;
  
}

input[type=submit] {
  width:20em;
  height:3.2em;
  padding:1em auto;
  background-color: #1E90FF;
  border: none;
  color: white;
  font-size:0.85rem;
  text-decoration: none;
  cursor: pointer;
}

div.ads{
  font-size:0.85rem;
  display:inline;
}

#ads{
box-shadow:0px 0px 3px 3px lightgrey;
margin-right:1em;
}

span{
  width:18em;
  float:right;
  padding-bottom:1em;
}

div.cookie{
  padding-top: 1em;
  text-align: left;
}

div.subscripts{
  margin-top: 2em;
  margin-left:-8em;
  text-align: center;
  font-size:0.9rem;
}